/*Universal selectors*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element selector-Color of the website's background*/
body {
    background-color: #d9dcd6;
}

/*Class selector-Header (padding size, font-family, background color and text color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Class selectors-Header (content alignment and font size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
    
}

/*Class selector-Header (color of the word "Horiseon"*/
.header h1 .Horiseon {
    color: #d9dcd6;
}

/*Class selector-Header (styling, position, display for the navigation menu)*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Element selector-Header/navigation links color and text decoration*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Element selector-All paragraphs font size*/
p {
    font-size: 16px;
}

/*Class selectors-It applies to the main image of the website located right below the header*/
.main-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    
}
/*Class selectors- Placement and margin size for the Search Engine Optimization and Social Media Marketing boxes*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Class selectors-Placement and margin size for the Online Reputation Management box*/
.float-right {
    float: right;
    margin-left: 25px;
}


/*Class selectors- Services boxes*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Class selectors- Height for the images inside of each services box*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/*Class selectors-Second level headings included in all services text*/
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Class selectors- It applies to the whole section that includes the boxes for each service*/
.services-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/*Class selectors-It applies to the box where the benefits are displayed*/
.benefits-content {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Class selectors-Lead Generation benefits section*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Class selectors-Brand Awareness benefits section*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 {
    text-align: center;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Class selectors-Cost Management benefits section*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 {
    text-align: center;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Class selectors-Footer*/
.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
